body {
  background: rgb(1, 51, 108);
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: black;
  box-sizing: border-box;
  font-family: Roboto, "Courier New", Courier, monospace;
}

main {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  align-items: center;
  min-height: 100vh;
}

.todo-container {
  width: 100%;
  background: white;
  box-shadow: 0 5px 20px 1px rgb(100, 100, 100);
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h5,
h2,
h3,
h4,
button,
p {
  margin: 0;
  padding: 0;
}

.title-container {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid rgb(211, 211, 211);
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.add-container {
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 15px;
  display: flex;
}

.add-container input {
  width: 100%;
  border: none;
  background: transparent;
  font-style: italic;
}

.add-container svg {
  color: rgb(189, 189, 189);
}

.add-container input:focus {
  outline: none;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 15px;
  justify-content: space-between;
}

.empty {
  text-align: center;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 15px;
  display: none;
  font-style: italic;
  color: #ccc;
}

.todo-list li .edit {
  flex: 1;
  border: none;
}

.todo-list li .title {
  flex: 1;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
}

.todo-list li .edit:focus {
  outline: none;
}

.todo-list li input[type="checkbox"] {
  margin-right: 10px;
}

.clear-complete {
  text-align: center;
  padding: 15px 0;
  width: 100%;
  display: none;
  font-size: 15px;
  color: rgb(163, 163, 163);
}

@media (min-width: 992px) {
  .todo-container {
    width: 30%;
  }

  main {
    padding: 0;
  }
}
